<header class="navbar navbar-default">
  <div class="container">
    <%= link_to "Simple Task Manager", root_path, id: "logo", class: "navbar-brand" %>

    <ul class="nav navbar-nav">
      <li ><%= link_to "Registered Users", users_path %></li>
    </ul>

    <ul class="nav navbar-nav reg-menu" >
      <% if current_user %>
        <li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
        <li><%= link_to "Logout", :logout, method: :post %></li>
      <% else %>
         <li><%= link_to "Register", new_user_path %></li>
         <li><%= link_to "Login", :login %></li>
      <% end %>
    </ul>
  </div>
</header>